:root {
    --first-color: #ffbe00;
    --secondary-color: #d66332;
    --thirty-color: #58595b;
    --text-dark: #1f1e1e;
    --text-light: #fff;
    --bg-firt: #ffbe00;
    --bg-secondary: #d66332;
    --bg-thirty: #58595b;
    --bg-dark: #1f1e1e;
    --bg-light: #fff;
    --paddingY: 3rem;
    --paddingX: 3rem
}
.secondary-title {
    font-size: 1.8rem;
    line-height: 2.2rem
}
@media screen and (min-width: 768px) {
    .secondary-title {
        font-size: 2.2rem;
        line-height: 2.6rem
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
    .secondary-title {
        font-size: 2.5rem;
        line-height: 2.9rem
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1250px) {
    .secondary-title {
        font-size: 3rem;
        line-height: 3.4rem
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1250px) and (min-width: 1400px) {
    .secondary-title {
        font-size: 3.5rem;
        line-height: 3.9rem
    }
}
.description {
    line-height: 1.6rem;
    font-weight: 300;
    margin-top: .8rem;
    font-size: 0.9rem
}
@media screen and (min-width: 1024px) {
    .description {
        font-size: 1rem;
        line-height: 1.7rem
    }
}
.hover-btn {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.hover-btn:before {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    -webkit-transition: width .5s, margin-right .5s;
    -o-transition: width .5s, margin-right .5s;
    transition: width .5s, margin-right .5s;
    background-color: #fff
}
@media screen and (min-width: 1024px) {
    .hover-btn:hover:before {
        margin-right: .5rem;
        width: 20px
    }
}
.container {
    width: 90%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto
}
.delay-1 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}
.delay-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.delay-3 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.delay-4 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
*,
:after,
:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}
a,
li,
p,
select,
span,
textarea,
time,
ul {
    font-family: "Roboto", sans-serif
}
a {
    text-decoration: none
}
ul {
    list-style: none
}
img {
    display: block;
    max-width: 100%
}
iframe {
    display: block;
    border: 0
}
input,
select,
textarea {
    outline: none;
    border: 0;
    padding: .5rem
}
textarea {
    resize: none
}
header {
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: #fff
}
@media screen and (min-width: 1024px) {
    header {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        position: fixed;
        padding-top: 1rem;
        padding-bottom: 1rem;
        -webkit-box-shadow: 0 0 10px 1px rgba(160, 156, 156, 0.1);
        box-shadow: 0 0 10px 1px rgba(160, 156, 156, 0.1)
    }
}
header .header__contenedor {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
@media screen and (min-width: 1024px) {
    header .header__contenedor {
        padding-top: 0;
        padding-bottom: 0
    }
}
header .header__contenedor--logotipo {
    position: relative;
    z-index: 2
}
header .header__contenedor--logotipo a {
    background-image: url(../../public/img/logotipo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 100px;
    height: 55px;
    text-indent: -1000em;
    display: block
}
@media screen and (min-width: 768px) {
    header .header__contenedor--logotipo a {
        width: 140px;
        height: 70px
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
    header .header__contenedor--logotipo a {
        width: 200px;
        height: 60px
    }
}
@media screen and (min-width: 768px) and (min-width: 1250px) {
    header .header__contenedor--logotipo a {
        width: 250px;
        height: 70px
    }
}
header .header__contenedor--icono {
    width: 30px;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 2
}
header .header__contenedor--icono .icon-element {
    width: 100%;
    height: 2px;
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    -o-transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s, -webkit-transform .5s;
    background-color: #1f1e1e
}
header .header__contenedor--icono .icon-element:nth-child(2) {
    margin-top: 5px
}
header .header__contenedor--icono .icon-element:nth-child(3) {
    margin-top: 5px
}
@media screen and (min-width: 1024px) {
    header .header__contenedor--icono {
        display: none
    }
}
header .header__contenedor .iconClick .icon-element:first-child {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px)
}
header .header__contenedor .iconClick .icon-element:nth-child(2) {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0
}
header .header__contenedor .iconClick .icon-element:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    -ms-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px)
}
header .header__contenedor nav {
    position: fixed;
    width: 100%;
    background-color: #ffbe00;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
@media screen and (min-width: 768px) {
    header .header__contenedor nav {
        top: 86px;
        height: calc(100% - 86px)
    }
}
@media screen and (min-width: 1024px) {
    header .header__contenedor nav {
        pointer-events: auto;
        opacity: 1;
        margin-right: -2rem;
        position: static;
        height: unset;
        width: unset;
        background-color: transparent
    }
}
header .header__contenedor nav .nav__lista {
    width: 100%
}
@media screen and (min-width: 1024px) {
    header .header__contenedor nav .nav__lista {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}
header .header__contenedor nav .nav__lista--item {
    text-align: center
}
header .header__contenedor nav .nav__lista--item a {
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem .8rem;
    display: inline-block
}
@media screen and (min-width: 1024px) {
    header .header__contenedor nav .nav__lista--item a {
        color: #1f1e1e;
        padding: 0 2rem .5rem 2rem;
        font-weight: 400;
        font-size: .9rem;
        position: relative
    }
    header .header__contenedor nav .nav__lista--item a:hover:after {
        width: 100%;
        left: 0
    }
    header .header__contenedor nav .nav__lista--item a:after {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transition: width .5s, left .5s;
        -o-transition: width .5s, left .5s;
        transition: width .5s, left .5s;
        background-color: #ffbe00
    }
}
header .header__contenedor .navTranslate {
    pointer-events: auto;
    opacity: 1
}
footer {
    width: 100%;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    background-color: #ffbe00
}
footer .footer__contenedor--informacion {
    width: 100%
}
@media screen and (min-width: 768px) {
    footer .footer__contenedor--informacion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}
footer .footer__contenedor--informacion .logotipo {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem
}
@media screen and (min-width: 768px) {
    footer .footer__contenedor--informacion .logotipo {
        margin: unset
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
    footer .footer__contenedor--informacion .logotipo {
        width: 200px
    }
}
footer .footer__contenedor--informacion .logotipo img {
    width: 100%
}
footer .footer__contenedor--informacion .informacion__lista {
    margin-top: 1.5rem;
    display: none
}
@media screen and (min-width: 768px) {
    footer .footer__contenedor--informacion .informacion__lista {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    footer .footer__contenedor--informacion .informacion__lista--item a {
        color: #fff;
        padding-left: 1.5rem;
        font-size: .9rem
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
    footer .footer__contenedor--informacion .informacion__lista--item a {
        padding-left: 4rem
    }
}
@media screen and (min-width: 1024px) {
    footer .footer__contenedor--informacion .informacion__lista {
        margin-top: 0
    }
}
footer .footer__contenedor--informacion:last-child {
    padding-top: .9rem;
    margin-top: .7rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-dark);
    text-align: center;
    font-size: .9rem;
    font-weight: 300
}
@media screen and (min-width: 768px) {
    footer .footer__contenedor--informacion:last-child {
        margin-top: 1rem
    }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
    footer .footer__contenedor--informacion:last-child {
        padding-top: 1.1rem
    }
}
footer .footer__contenedor--informacion:last-child .informacion__copy {
    font-weight: 500
}
footer .footer__contenedor--informacion:last-child .informacion__desarrollo {
    margin-top: .5rem;
    font-weight: 500
}
@media screen and (min-width: 768px) {
    footer .footer__contenedor--informacion:last-child .informacion__desarrollo {
        margin-top: 0
    }
}
footer .footer__contenedor--informacion:last-child .informacion__desarrollo a {
    color: var(--text-dark);
    font-weight: 700;
    margin-left: .2rem
}
.banner {
    --gradient: .1;
    --url: url('../../public/img/home/banner/bg-banner-min.jpg');
    background-color: var(--rgba);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 30, 30, var(--gradient))), to(rgba(31, 30, 30, var(--gradient)))), var(--url);
    background-image: -webkit-linear-gradient(rgba(31, 30, 30, var(--gradient)), rgba(31, 30, 30, var(--gradient))), var(--url);
    background-image: -o-linear-gradient(rgba(31, 30, 30, var(--gradient)), rgba(31, 30, 30, var(--gradient))), var(--url);
    background-image: linear-gradient(rgba(31, 30, 30, var(--gradient)), rgba(31, 30, 30, var(--gradient))), var(--url)
}
@media screen and (min-width: 1024px) {
    .banner {
        --url: url('../../public/img/home/banner/bg-banner.jpg');
        background-position: center top
    }
}
.banner__container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.banner__container--copy {
    max-width: 350px;
    margin-top: 100px
}
@media screen and (min-width: 480px) {
    .banner__container--copy {
        max-width: 400px
    }
}
@media screen and (min-width: 1250px) {
    .banner__container--copy {
        max-width: 500px
    }
}
.banner__container--copy .banner__title {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700
}
@media screen and (min-width: 480px) {
    .banner__container--copy .banner__title {
        font-size: 3rem;
        line-height: 3.5rem
    }
}
@media screen and (min-width: 768px) {
    .banner__container--copy .banner__title {
        font-size: 3.5rem;
        line-height: 4rem
    }
}
@media screen and (min-width: 1024px) {
    .banner__container--copy .banner__title {
        font-size: 3.8rem;
        line-height: 4.3rem
    }
}
@media screen and (min-width: 1250px) {
    .banner__container--copy .banner__title {
        font-size: 4.5rem;
        line-height: 5.1rem
    }
}
.banner__container--copy .banner__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.banner__container--copy .banner__button a {
    color: #1f1e1e;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.banner__extras {
    display: none;
    width: 550px;
    height: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3)
}
@media screen and (min-width: 1024px) {
    .banner__extras {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}
@media screen and (min-width: 1250px) {
    .banner__extras {
        width: 700px;
        height: 150px
    }
}
@media screen and (min-width: 1400px) {
    .banner__extras {
        width: 800px;
        height: 170px
    }
}
.banner__extras--item {
    width: 100%
}
.banner__extras--item a {
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}
.banner__extras--item a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.banner__extras--item a .space {
    --medidas: 100%;
    position: absolute;
    width: var(--medidas);
    height: var(--medidas);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(31, 30, 30, 0.2)
}
.banner__extras--item a .space span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase
}
.banner__extras--item:last-child .space {
    background-color: rgba(255, 190, 0, 0.8)
}
.banner__extras--item:last-child .space span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.banner__extras--item:last-child .space span i {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 1.5rem;
    margin-right: .5rem
}
.main .about {
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    overflow: hidden
}
@media screen and (min-width: 1024px) {
    .main .about {
        --paddingY: 6rem
    }
}
.main .about__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 768px) {
    .main .about__container {
        --columns: 12
    }
}
@media screen and (min-width: 1024px) {
    .main .about__container {
        --gap: 30px
    }
}
@media screen and (min-width: 1250px) {
    .main .about__container {
        --gap: 40px
    }
}
.main .about__container--img {
    display: none
}
@media screen and (min-width: 768px) {
    .main .about__container--img {
        display: block;
        height: calc(100vh - 6rem);
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 7
    }
}
@media screen and (min-width: 768px) {
    .main .about__container--info {
        display: block;
        -ms-grid-column: 7;
        -ms-grid-column-span: 6;
        grid-column: 7 / 13
    }
}
.main .about__container--info .about__header {
    color: #1f1e1e;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media screen and (min-width: 768px) {
    .main .about__container--info .about__header {
        max-width: 100%;
        margin-top: 100px;
        text-align: left
    }
}
.main .about__container--info .about__header--title {
    font-weight: 700
}
@media screen and (min-width: 768px) {
    .main .about__container--info .about__header--franja {
        position: relative;
        padding-left: 70px
    }
    .main .about__container--info .about__header--franja:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #ffbe00
    }
}
@media screen and (min-width: 1024px) {
    .main .about__container--info .about__header--franja {
        padding-left: 80px
    }
    .main .about__container--info .about__header--franja:before {
        width: 60px
    }
}
@media screen and (min-width: 1250px) {
    .main .about__container--info .about__header--franja {
        padding-left: 90px
    }
    .main .about__container--info .about__header--franja:before {
        width: 70px
    }
}
.main .about__container--info .about__header--franja .franja__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
@media screen and (min-width: 768px) {
    .main .about__container--info .about__header--franja .franja__button {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}
.main .about__container--info .about__header--franja .franja__button a {
    color: #1f1e1e;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.main .about__container--info .about__img {
    margin-top: 20px;
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
@media screen and (min-width: 1024px) {
    .main .about__container--info .about__img {
        height: 300px;
        margin-top: 30px
    }
}
@media screen and (min-width: 1250px) {
    .main .about__container--info .about__img {
        height: 380px;
        margin-top: 40px
    }
}
@media screen and (min-width: 1400px) {
    .main .about__container--info .about__img {
        height: 420px
    }
}
.main .characteristics {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    background-blend-mode: multiply;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbe00), to(#ffbe00)), url("../../public/img/home/characteristics/bg-img.jpg");
    background-image: -webkit-linear-gradient(#ffbe00, #ffbe00), url("../../public/img/home/characteristics/bg-img.jpg");
    background-image: -o-linear-gradient(#ffbe00, #ffbe00), url("../../public/img/home/characteristics/bg-img.jpg");
    background-image: linear-gradient(#ffbe00, #ffbe00), url("../../public/img/home/characteristics/bg-img.jpg")
}
@media screen and (min-width: 1024px) {
    .main .characteristics {
        --paddingY: 6rem;
        background-attachment: fixed
    }
}
.main .characteristics__container--title {
    color: #fff;
    font-weight: 700;
    text-align: center
}
.main .characteristics__container--grid {
    --columns: 1;
    --gap: 30px;
    margin-top: 2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 480px) {
    .main .characteristics__container--grid {
        --columns: 2;
        --margin: auto;
        max-width: 380px;
        margin-left: var(--margin);
        margin-right: var(--margin)
    }
}
@media screen and (min-width: 768px) {
    .main .characteristics__container--grid {
        --columns: 4;
        --margin: initial;
        max-width: 100%;
        margin-top: 4rem
    }
}
@media screen and (min-width: 1024px) {
    .main .characteristics__container--grid {
        margin-top: 5rem
    }
}
.main .characteristics__container--grid .characteristics__item img {
    width: 80px;
    margin-left: auto;
    margin-right: auto
}
@media screen and (min-width: 1024px) {
    .main .characteristics__container--grid .characteristics__item img {
        width: 90px
    }
}
@media screen and (min-width: 1250px) {
    .main .characteristics__container--grid .characteristics__item img {
        width: 100px
    }
}
.main .characteristics__container--grid .characteristics__item p {
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
    text-align: center
}
@media screen and (min-width: 1250px) {
    .main .characteristics__container--grid .characteristics__item p {
        font-size: 1.1rem
    }
}
.main .spaces {
    padding-top: var(--paddingY)
}
@media screen and (min-width: 1024px) {
    .main .spaces {
        --paddingY: 6rem
    }
}
.main .spaces__container--header {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto
}
@media screen and (min-width: 1024px) {
    .main .spaces__container--header {
        max-width: 500px
    }
}
@media screen and (min-width: 1250px) {
    .main .spaces__container--header {
        max-width: 600px
    }
}
.main .spaces__container--header .spaces__title {
    color: #1f1e1e;
    font-weight: 700;
    text-align: center
}
.main .spaces__grid {
    --columns: 1;
    --gap: 20px;
    margin-top: 2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 768px) {
    .main .spaces__grid {
        --columns: 3;
        --gap: 0;
        max-width: 100%;
        width: 100%;
        margin-top: 4rem
    }
}
@media screen and (min-width: 1024px) {
    .main .spaces__grid {
        margin-top: 5rem
    }
}
.main .spaces__grid .spaces__item {
    position: relative;
    height: 270px
}
@media screen and (min-width: 768px) {
    .main .spaces__grid .spaces__item {
        height: 350px
    }
}
@media screen and (min-width: 1024px) {
    .main .spaces__grid .spaces__item {
        height: 400px
    }
    .main .spaces__grid .spaces__item:hover:before {
        opacity: 1
    }
    .main .spaces__grid .spaces__item:hover .spaces__item--info {
        opacity: 1
    }
}
.main .spaces__grid .spaces__item:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    background-color: rgba(31, 30, 30, 0.5)
}
@media screen and (min-width: 1024px) {
    .main .spaces__grid .spaces__item:before {
        opacity: 0;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        background-color: #ffbe00
    }
}
.main .spaces__grid .spaces__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.main .spaces__grid .spaces__item--info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
@media screen and (min-width: 1024px) {
    .main .spaces__grid .spaces__item--info {
        opacity: 0;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s
    }
}
.main .spaces__grid .spaces__item--info .info {
    --padding: 1.5rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    text-align: center
}
@media screen and (min-width: 1024px) {
    .main .spaces__grid .spaces__item--info .info {
        --padding: 4rem
    }
}
.main .spaces__grid .spaces__item--info .info h3 {
    font-size: 1.5rem;
    font-weight: 700
}
@media screen and (min-width: 1024px) {
    .main .spaces__grid .spaces__item--info .info h3 {
        font-size: 1.7rem
    }
}
.main .spaces__grid .spaces__item--info .info .spaces__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.main .spaces__grid .spaces__item--info .info .spaces__button a {
    color: #1f1e1e;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.main .reason {
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    position: relative
}
@media screen and (min-width: 1024px) {
    .main .reason {
        --paddingY: 6rem
    }
}
.main .reason__copy {
    display: none
}
@media screen and (min-width: 1024px) {
    .main .reason__copy {
        display: block;
        color: #ffbe00;
        position: absolute;
        left: 0;
        font-size: 10rem;
        letter-spacing: 1rem;
        top: 8rem;
        text-transform: uppercase;
        font-weight: 900;
        z-index: -1;
        opacity: .2
    }
}
@media screen and (min-width: 1250px) {
    .main .reason__copy {
        font-size: 14rem;
        letter-spacing: 2rem
    }
}
.main .reason__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 768px) {
    .main .reason__container {
        --columns: 12
    }
}
@media screen and (min-width: 1024px) {
    .main .reason__container {
        --gap: 30px
    }
}
@media screen and (min-width: 1250px) {
    .main .reason__container {
        --gap: 40px
    }
}
@media screen and (min-width: 768px) {
    .main .reason__container--info {
        display: block;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 7
    }
}
.main .reason__container--info .reason__header {
    color: #1f1e1e;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media screen and (min-width: 768px) {
    .main .reason__container--info .reason__header {
        max-width: 100%;
        margin-top: 100px;
        text-align: left
    }
}
@media screen and (min-width: 1024px) {
    .main .reason__container--info .reason__header {
        margin-top: 12rem
    }
}
@media screen and (min-width: 1250px) {
    .main .reason__container--info .reason__header {
        margin-top: 15rem
    }
}
.main .reason__container--info .reason__header--title {
    font-weight: 700
}
@media screen and (min-width: 768px) {
    .main .reason__container--info .reason__header--franja {
        position: relative;
        padding-left: 70px
    }
    .main .reason__container--info .reason__header--franja:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #ffbe00
    }
}
@media screen and (min-width: 1024px) {
    .main .reason__container--info .reason__header--franja {
        padding-left: 80px
    }
    .main .reason__container--info .reason__header--franja:before {
        width: 60px
    }
}
@media screen and (min-width: 1250px) {
    .main .reason__container--info .reason__header--franja {
        padding-left: 90px
    }
    .main .reason__container--info .reason__header--franja:before {
        width: 70px
    }
}
.main .reason__container--info .reason__header--franja .franja__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
@media screen and (min-width: 768px) {
    .main .reason__container--info .reason__header--franja .franja__button {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}
.main .reason__container--info .reason__header--franja .franja__button a {
    color: #1f1e1e;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.main .reason__container--img {
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
@media screen and (min-width: 768px) {
    .main .reason__container--img {
        display: block;
        height: calc(100vh - 6rem);
        width: 100%;
        -ms-grid-column: 7;
        -ms-grid-column-span: 6;
        grid-column: 7 / 13
    }
}
.main .action {
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbe00), to(#ffbe00)), url("../../public/img/home/action/bg-img.jpg");
    background-image: -webkit-linear-gradient(#ffbe00, #ffbe00), url("../../public/img/home/action/bg-img.jpg");
    background-image: -o-linear-gradient(#ffbe00, #ffbe00), url("../../public/img/home/action/bg-img.jpg");
    background-image: linear-gradient(#ffbe00, #ffbe00), url("../../public/img/home/action/bg-img.jpg")
}
@media screen and (min-width: 768px) {
    .main .action {
        --paddingY: 6rem
    }
}
@media screen and (min-width: 1024px) {
    .main .action {
        --paddingY: 8rem
    }
}
@media screen and (min-width: 768px) {
    .main .action__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}
.main .action__container--header {
    text-align: center;
    color: #fff;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}
@media screen and (min-width: 768px) {
    .main .action__container--header {
        text-align: left;
        margin-left: initial
    }
}
@media screen and (min-width: 1024px) {
    .main .action__container--header {
        max-width: 500px
    }
}
@media screen and (min-width: 1400px) {
    .main .action__container--header {
        max-width: 600px
    }
}
.main .action__container--play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.main .action__container--play a {
    --medidas: 50px;
    color: #ffbe00;
    width: var(--medidas);
    height: var(--medidas);
    font-size: 1rem;
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    z-index: 2
}
@media screen and (min-width: 768px) {
    .main .action__container--play a {
        margin-right: 150px;
        margin-top: 0
    }
}
@media screen and (min-width: 1024px) {
    .main .action__container--play a {
        --medidas: 70px;
        font-size: 1.1rem
    }
}
@media screen and (min-width: 1250px) {
    .main .action__container--play a {
        font-size: 1.2rem;
        margin-right: 200px
    }
}
.main .action__container--play a:after {
    --medidas: 100%;
    content: '';
    width: var(--medidas);
    height: var(--medidas);
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: .8;
    background-color: #fff;
    z-index: -1;
    -webkit-animation: expand 1s ease-out infinite;
    animation: expand 1s ease-out infinite
}
@-webkit-keyframes expand {
    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0
    }
}
@keyframes expand {
    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0
    }
}
.main .contact {
    padding-top: var(--paddingY);
    position: relative
}
@media screen and (min-width: 1024px) {
    .main .contact {
        --paddingY: 6rem
    }
}
.main .contact__container--title {
    colo: #1f1e1e;
    text-align: center
}
.main .contact__container--form {
    --columns: 1;
    --gap: 20px;
    margin-top: 2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}
@media screen and (min-width: 768px) {
    .main .contact__container--form {
        --columns: 2;
        --gap: 30px;
        max-width: 550px;
        margin-top: 3rem
    }
}
@media screen and (min-width: 1024px) {
    .main .contact__container--form {
        --gap: 40px;
        max-width: 700px
    }
}
.main .contact__container--form input,
.main .contact__container--form select,
.main .contact__container--form textarea {
    border-bottom: 1px solid #1f1e1e;
    font-size: .9rem
}
.main .contact__container--form input::-webkit-input-placeholder {
    color: #1f1e1e
}
.main .contact__container--form input:-ms-input-placeholder {
    color: #1f1e1e
}
.main .contact__container--form input::-ms-input-placeholder {
    color: #1f1e1e
}
.main .contact__container--form input::placeholder {
    color: #1f1e1e
}
.main .contact__container--form select {
    border-radius: 0;
    color: #1f1e1e;
    background-color: transparent
}
.main .contact__container--form textarea {
    padding-bottom: 0
}
@media screen and (min-width: 768px) {
    .main .contact__container--form textarea {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3
    }
}
.main .contact__container--form .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
@media screen and (min-width: 768px) {
    .main .contact__container--form .button {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3
    }
}
.main .contact__container--form .button a {
    color: #1f1e1e;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00;
    margin-top: 0
}
.main .contact__map {
    margin-top: 2.5rem;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffbe00), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(bottom, #ffbe00 50%, transparent 50%);
    background-image: -o-linear-gradient(bottom, #ffbe00 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ffbe00 50%, transparent 50%)
}
.main .contact__map iframe {
    height: 300px
}
@media screen and (min-width: 1024px) {
    .main .contact__map iframe {
        height: 350px
    }
}
@media screen and (min-width: 1250px) {
    .main .contact__map iframe {
        height: 400px
    }
}
.about__banner {
    padding-top: 130px;
    padding-bottom: var(--paddingY)
}
@media screen and (min-width: 768px) {
    .about__banner {
        padding-top: 170px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(72%, #fff), color-stop(28%, #ffbe00));
        background-image: -webkit-linear-gradient(top, #fff 72%, #ffbe00 28%);
        background-image: -o-linear-gradient(top, #fff 72%, #ffbe00 28%);
        background-image: linear-gradient(180deg, #fff 72%, #ffbe00 28%)
    }
}
@media screen and (min-width: 1024px) {
    .about__banner {
        padding-top: 200px;
        --paddingY: 6rem
    }
}
.about__banner--container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 768px) {
    .about__banner--container {
        --columns: 12
    }
}
@media screen and (min-width: 1024px) {
    .about__banner--container {
        --gap: 30px
    }
}
@media screen and (min-width: 1250px) {
    .about__banner--container {
        --gap: 40px
    }
}
.about__banner--container .about__header {
    --margin: auto;
    color: #1f1e1e;
    text-align: center
}
@media screen and (min-width: 768px) {
    .about__banner--container .about__header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 7;
        text-align: left;
        max-width: 100%;
        margin-top: 100px
    }
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__header {
        margin-top: 50px
    }
}
@media screen and (min-width: 1250px) {
    .about__banner--container .about__header {
        margin-top: 80px
    }
}
.about__banner--container .about__header--title {
    --margin: auto;
    max-width: 450px;
    margin-left: var(--margin);
    margin-right: var(--margin)
}
@media screen and (min-width: 768px) {
    .about__banner--container .about__header--title {
        --margin: initial;
        max-width: 100%
    }
}
.about__banner--container .about__header--franja {
    --margin: auto;
    max-width: 450px;
    margin-left: var(--margin);
    margin-right: var(--margin)
}
@media screen and (min-width: 768px) {
    .about__banner--container .about__header--franja {
        --margin: initial;
        position: relative;
        padding-left: 70px;
        max-width: 100%
    }
    .about__banner--container .about__header--franja:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #ffbe00
    }
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__header--franja {
        padding-left: 80px
    }
    .about__banner--container .about__header--franja:before {
        width: 60px
    }
}
@media screen and (min-width: 1250px) {
    .about__banner--container .about__header--franja {
        padding-left: 90px
    }
    .about__banner--container .about__header--franja:before {
        width: 70px
    }
}
.about__banner--container .about__header--img {
    height: 300px;
    margin-top: 20px
}
@media screen and (min-width: 768px) {
    .about__banner--container .about__header--img {
        height: 400px
    }
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__header--img {
        margin-top: 30px;
        overflow: hidden
    }
    .about__banner--container .about__header--img:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
}
@media screen and (min-width: 1250px) {
    .about__banner--container .about__header--img {
        margin-top: 40px
    }
}
.about__banner--container .about__header--img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__header--img img {
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s
    }
}
.about__banner--container .about__img {
    display: none
}
@media screen and (min-width: 768px) {
    .about__banner--container .about__img {
        -ms-grid-column: 7;
        -ms-grid-column-span: 6;
        grid-column: 7 / 13;
        display: -ms-grid;
        display: grid;
        grid-gap: 20px
    }
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__img {
        grid-gap: 30px
    }
}
@media screen and (min-width: 1250px) {
    .about__banner--container .about__img {
        grid-gap: 40px
    }
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__img--container {
        overflow: hidden
    }
    .about__banner--container .about__img--container:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
}
.about__banner--container .about__img--container.img-1 {
    height: 500px
}
.about__banner--container .about__img--container.img-2 {
    height: 350px
}
@media screen and (min-width: 1250px) {
    .about__banner--container .about__img--container.img-2 {
        height: 420px
    }
}
.about__banner--container .about__img--container img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%
}
@media screen and (min-width: 1024px) {
    .about__banner--container .about__img--container img {
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s
    }
}
.main__about--reason {
    --max: 70%;
    --min: 30%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbe00), to(#fff));
    background-image: -webkit-linear-gradient(top, #ffbe00 var(--max), #fff var(--min));
    background-image: -o-linear-gradient(top, #ffbe00 var(--max), #fff var(--min));
    background-image: linear-gradient(180deg, #ffbe00 var(--max), #fff var(--min))
}
@media screen and (min-width: 1024px) {
    .main__about--reason {
        padding-top: 0;
        --max: 65%;
        --min: 35%
    }
}
.main__about--reason .main__container--header {
    --margin: auto;
    color: #fff;
    text-align: center;
    max-width: 450px;
    margin-left: var(--margin);
    margin-right: var(--margin)
}
@media screen and (min-width: 1024px) {
    .main__about--reason .main__container--header {
        max-width: 500px
    }
}
@media screen and (min-width: 1250px) {
    .main__about--reason .main__container--header {
        max-width: 600px
    }
}
.main__about--reason .main__container--img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../../public/img/about/about/bg-img.jpg")
}
@media screen and (min-width: 768px) {
    .main__about--reason .main__container--img {
        height: 350px
    }
}
@media screen and (min-width: 1024px) {
    .main__about--reason .main__container--img {
        height: 400px;
        margin-top: 30px
    }
}
@media screen and (min-width: 1250px) {
    .main__about--reason .main__container--img {
        height: 500px;
        margin-top: 40px
    }
}
.main__about--reason .main__container--img a {
    --medidas: 50px;
    color: #ffbe00;
    width: var(--medidas);
    height: var(--medidas);
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    z-index: 2
}
@media screen and (min-width: 1024px) {
    .main__about--reason .main__container--img a {
        --medidas: 70px;
        font-size: 1.1rem
    }
}
@media screen and (min-width: 1250px) {
    .main__about--reason .main__container--img a {
        font-size: 1.2rem
    }
}
.main__about--reason .main__container--img a:after {
    --medidas: 100%;
    content: '';
    width: var(--medidas);
    height: var(--medidas);
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: .8;
    background-color: #fff;
    z-index: -1;
    -webkit-animation: expand 1s ease-out infinite;
    animation: expand 1s ease-out infinite
}
@keyframes expand {
    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0
    }
}
.main__about--call {
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY)
}
@media screen and (min-width: 1024px) {
    .main__about--call {
        --paddingY: 6rem
    }
}
.main__about--call .main__call--container {
    color: #1f1e1e;
    text-align: center
}
.main__about--call .main__call--container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem
}
.main__about--call .main__call--container .button a {
    color: var(--text-dark);
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.prices__banner {
    padding-top: 130px;
    padding-bottom: var(--paddingY);
    min-height: 100vh
}
@media screen and (min-width: 768px) {
    .prices__banner {
        padding-top: 150px;
        padding-bottom: 0
    }
}
@media screen and (min-width: 1024px) {
    .prices__banner {
        padding-top: 250px
    }
}
@media screen and (min-width: 1250px) {
    .prices__banner {
        padding-top: 280px
    }
}
.prices__banner--container .prices__header {
    max-width: 450px
}
@media screen and (min-width: 1024px) {
    .prices__banner--container .prices__header {
        max-width: 500px
    }
}
@media screen and (min-width: 1250px) {
    .prices__banner--container .prices__header {
        max-width: 600px
    }
}
@media screen and (min-width: 768px) {
    .prices__banner--container .prices__header--franja {
        position: relative;
        padding-left: 70px
    }
    .prices__banner--container .prices__header--franja:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #ffbe00
    }
}
@media screen and (min-width: 1024px) {
    .prices__banner--container .prices__header--franja {
        padding-left: 80px
    }
    .prices__banner--container .prices__header--franja:before {
        width: 60px
    }
}
@media screen and (min-width: 1250px) {
    .prices__banner--container .prices__header--franja {
        padding-left: 90px
    }
    .prices__banner--container .prices__header--franja:before {
        width: 70px
    }
}
.prices__banner--container .prices__header--franja .franja__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.prices__banner--container .prices__header--franja .franja__button a {
    color: var(--text-dark);
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.prices__banner--container .prices__images {
    --columns: 1;
    --gap: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    margin-top: 1.5rem
}
@media screen and (min-width: 1024px) {
    .prices__banner--container .prices__images {
        --columns: 12;
        --gap: 20px
    }
}
.prices__banner--container .prices__images--container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px
}
@media screen and (min-width: 1024px) {
    .prices__banner--container .prices__images--container {
        height: 400px
    }
}
.prices__banner--container .prices__images--left {
    background-image: url(../../public/img/prices/bg-img-1.jpg)
}
@media screen and (min-width: 1024px) {
    .prices__banner--container .prices__images--left {
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / 9
    }
}
.prices__banner--container .prices__images--right {
    background-image: url(../../public/img/prices/bg-img-2.jpg);
    display: none
}
@media screen and (min-width: 1024px) {
    .prices__banner--container .prices__images--right {
        display: block;
        -ms-grid-column: 9;
        -ms-grid-column-span: 4;
        grid-column: 9 / 13
    }
}
.main__prices .prices {
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    overflow: hidden
}
@media screen and (min-width: 1024px) {
    .main__prices .prices {
        --paddingY: 6.5rem
    }
}
@media screen and (min-width: 1250px) {
    .main__prices .prices {
        --paddingY: 7rem
    }
}
.main__prices .prices__container {
    --columns: 1;
    --gap: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    max-width: 350px
}
@media screen and (min-width: 768px) {
    .main__prices .prices__container {
        --columns: 2;
        max-width: 1250px
    }
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container {
        --columns: 3
    }
}
@media screen and (min-width: 1250px) {
    .main__prices .prices__container {
        --columns: 5;
        --gap: 20px
    }
}
.main__prices .prices__container--header {
    color: #1f1e1e;
    max-width: 450px
}
@media screen and (min-width: 768px) {
    .main__prices .prices__container--header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3
    }
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--header {
        max-width: 550px;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        margin-bottom: 1rem
    }
}
@media screen and (min-width: 1250px) {
    .main__prices .prices__container--header {
        max-width: 650px;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1 / 6
    }
}
.main__prices .prices__container--item {
    padding: 1.5rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3)
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--item:hover {
        background-color: #ffbe00
    }
    .main__prices .prices__container--item:hover .prices__title {
        color: #fff
    }
    .main__prices .prices__container--item:hover .prices__cost {
        color: #fff
    }
    .main__prices .prices__container--item:hover .prices__button a {
        background-color: #1f1e1e;
        color: var(--text-light)
    }
    .main__prices .prices__container--item:hover .submenu li {
        color: #fff
    }
    .main__prices .prices__container--item:hover .submenu .check {
        color: #fff
    }
}
.main__prices .prices__container--item .prices__title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #1f1e1e
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--item .prices__title {
        font-size: 2rem
    }
}
.main__prices .prices__container--item .prices__cost {
    color: #1f1e1e;
    font-weight: 300;
    margin-top: .5rem;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--item .prices__cost {
        font-weight: 500
    }
}
.main__prices .prices__container--item .prices__cost span {
    margin-left: 5px;
    font-weight: 900;
    font-size: 1.3rem
}
.main__prices .prices__container--item .prices__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.main__prices .prices__container--item .prices__button a {
    color: var(--text-dark);
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00;
    margin-bottom: 1rem
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--item .prices__button a {
        font-size: .9rem
    }
}
.main__prices .prices__container--item .accordion {
    width: 100%
}
.main__prices .prices__container--item .accordion li:last-child li {
    border-bottom: 0
}
.main__prices .prices__container--item .accordion li .link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #1f1e1e;
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 1px solid #ffbe00;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--item .accordion li .link {
        display: none
    }
}
.main__prices .prices__container--item .accordion li .link i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #ffbe00;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease
}
.main__prices .prices__container--item .accordion li .link i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px
}
.main__prices .prices__container--item .accordion .open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
@media screen and (min-width: 1024px) {
    .main__prices .prices__container--item .accordion .default .submenu {
        display: block
    }
}
.main__prices .prices__container--item .submenu {
    display: none;
    font-size: 14px;
    padding-top: 1rem
}
.main__prices .prices__container--item .submenu li {
    color: #1f1e1e;
    margin-bottom: .7rem;
    font-size: .9rem;
    border-bottom: 1px solid #4b4a5e
}
.main__prices .prices__container--item .submenu li.list-lose {
    text-decoration: line-through;
    color: #878282
}
.main__prices .prices__container--item .submenu li.list-lose .check {
    color: red
}
.main__prices .prices__container--item .submenu li .check {
    color: #ffbe00;
    margin-right: .5rem
}

.plus{
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    background-color: red
}

@media screen and (min-width: 1024px){
    .plus{
        --paddingY: 5rem
    }
}

.plus__container{

}


/*--------------------------*/
/*--------------------------*/
/*--------------------------*/

.ambients__banner {
    padding-top: 130px;
    padding-bottom: var(--paddingY);
    min-height: 100vh;
    overflow: hidden
}
@media screen and (min-width: 768px) {
    .ambients__banner {
        padding-top: 150px;
        padding-bottom: 0
    }
}
@media screen and (min-width: 1024px) {
    .ambients__banner {
        padding-top: 0;
        height: 100vh
    }
}
@media screen and (min-width: 1024px) {
    .ambients__banner--container {
        --columns: 12;
        --gap: 20px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[var(--columns)];
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-gap: var(--gap);
        height: 100%
    }
}
.ambients__banner--container .ambients__header {
    color: #1f1e1e;
    max-width: 450px
}
@media screen and (min-width: 1024px) {
    .ambients__banner--container .ambients__header {
        padding-top: 250px;
        -ms-grid-column: 3;
        -ms-grid-column-span: 5;
        grid-column: 3 / 8
    }
}
@media screen and (min-width: 1250px) {
    .ambients__banner--container .ambients__header {
        padding-top: 280px
    }
}
@media screen and (min-width: 768px) {
    .ambients__banner--container .ambients__header--franja {
        position: relative;
        padding-left: 70px
    }
    .ambients__banner--container .ambients__header--franja:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #ffbe00
    }
}
@media screen and (min-width: 1024px) {
    .ambients__banner--container .ambients__header--franja {
        padding-left: 80px
    }
    .ambients__banner--container .ambients__header--franja:before {
        width: 60px
    }
}
@media screen and (min-width: 1250px) {
    .ambients__banner--container .ambients__header--franja {
        padding-left: 90px
    }
    .ambients__banner--container .ambients__header--franja:before {
        width: 70px
    }
}
.ambients__banner--container .ambients__header--franja .franja__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.ambients__banner--container .ambients__header--franja .franja__button a {
    color: #fff;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00
}
.ambients__banner--container .ambients__left {
    display: none
}
@media screen and (min-width: 1024px) {
    .ambients__banner--container .ambients__left {
        height: 100%;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 92px
    }
}
@media screen and (min-width: 1250px) {
    .ambients__banner--container .ambients__left {
        padding-top: 102px
    }
}
.ambients__banner--container .ambients__left--container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    background-image: url(../../public/img/ambients/banner/img-1.jpg)
}
.ambients__banner--container .ambients__right {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../public/img/ambients/banner/img-2-min.jpg);
    height: 300px;
    margin-top: 1.5rem
}
@media screen and (min-width: 1024px) {
    .ambients__banner--container .ambients__right {
        background-image: url(../../public/img/ambients/banner/img-2.jpg);
        height: auto;
        margin-top: 0;
        -ms-grid-column: 8;
        -ms-grid-column-span: 5;
        grid-column: 8 / 13
    }
}
.main__ambients .ambients {
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY)
}
@media screen and (min-width: 1024px) {
    .main__ambients .ambients {
        --paddingY: 6rem
    }
}
.main__ambients .ambients__container--header {
    color: #1f1e1e;
    max-width: 450px
}
@media screen and (min-width: 1024px) {
    .main__ambients .ambients__container--header {
        max-width: 500px
    }
}
@media screen and (min-width: 1250px) {
    .main__ambients .ambients__container--header {
        max-width: 550px
    }
}
.main__ambients .ambients__container--grid {
    --columns: 1;
    --gap: 20px;
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    margin-bottom: 20px
}
@media screen and (min-width: 768px) {
    .main__ambients .ambients__container--grid {
        --columns: 2
    }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
    .main__ambients .ambients__container--grid.ambients__alt .ambients__img:first-child {
        margin-top: 0
    }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
    .main__ambients .ambients__container--grid.ambients__alt .ambients__img:last-child {
        margin-top: 4rem
    }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
    .main__ambients .ambients__container--grid.ambients__alt .ambients__img:last-child {
        margin-top: 5.5rem
    }
}
@media screen and (min-width: 1024px) {
    .main__ambients .ambients__container--grid {
        --gap: 30px;
        margin-bottom: 30px
    }
}
@media screen and (min-width: 1250px) {
    .main__ambients .ambients__container--grid {
        --gap: 40px;
        margin-bottom: 40px
    }
}
.main__ambients .ambients__container--grid .ambients__img {
    height: 300px
}
@media screen and (min-width: 768px) {
    .main__ambients .ambients__container--grid .ambients__img {
        height: 350px
    }
}
@media screen and (min-width: 1024px) {
    .main__ambients .ambients__container--grid .ambients__img {
        height: 500px
    }
}
@media screen and (min-width: 1250px) {
    .main__ambients .ambients__container--grid .ambients__img {
        height: 550px
    }
}
@media screen and (min-width: 768px) {
    .main__ambients .ambients__container--grid .ambients__img:first-child {
        margin-top: 4rem
    }
}
@media screen and (min-width: 1024px) {
    .main__ambients .ambients__container--grid .ambients__img:first-child {
        margin-top: 5.5rem
    }
}
.main__ambients .ambients__container--grid .ambients__img:last-child {
    display: none
}
@media screen and (min-width: 768px) {
    .main__ambients .ambients__container--grid .ambients__img:last-child {
        display: block
    }
}
.main__ambients .ambients__container--grid .ambients__img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.blog__banner {
    padding-top: 130px;
    padding-bottom: var(--paddingY)
}
@media screen and (min-width: 768px) {
    .blog__banner {
        padding-top: 150px
    }
}
@media screen and (min-width: 1024px) {
    .blog__banner {
        padding-top: 250px
    }
}
@media screen and (min-width: 1250px) {
    .blog__banner {
        padding-top: 280px
    }
}
.blog__banner--container .blog__header {
    max-width: 450px
}
@media screen and (min-width: 1024px) {
    .blog__banner--container .blog__header {
        max-width: 500px
    }
}
@media screen and (min-width: 1250px) {
    .blog__banner--container .blog__header {
        max-width: 600px
    }
}
@media screen and (min-width: 768px) {
    .blog__banner--container .blog__header--franja {
        position: relative;
        padding-left: 70px
    }
    .blog__banner--container .blog__header--franja:before {
        content: '';
        width: 50px;
        height: 3px;
        margin-top: 10px;
        margin-right: 10px;
        display: block;
        position: absolute;
        left: 0;
        background-color: #ffbe00
    }
}
@media screen and (min-width: 1024px) {
    .blog__banner--container .blog__header--franja {
        padding-left: 80px
    }
    .blog__banner--container .blog__header--franja:before {
        width: 60px
    }
}
@media screen and (min-width: 1250px) {
    .blog__banner--container .blog__header--franja {
        padding-left: 90px
    }
    .blog__banner--container .blog__header--franja:before {
        width: 70px
    }
}
.blog__container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 1024px) {
    .blog__container {
        --columns: 8
    }
}
.blog__container .blog__main {
    --columns: 1;
    --gap: 20px;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__main {
        --gap: 30px;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 7;
        padding-top: 1rem
    }
}
.blog__container .blog__main--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebeaea
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__main--item {
        padding-bottom: 30px;
        padding-right: 2rem
    }
    .blog__container .blog__main--item:hover .blog__info--title {
        text-decoration: underline
    }
    .blog__container .blog__main--item:hover .blog__img img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s
    }
}
.blog__container .blog__main--item:last-child {
    border-bottom: initial
}
.blog__container .blog__main--item .blog__img {
    width: 150px
}
@media screen and (min-width: 600px) {
    .blog__container .blog__main--item .blog__img {
        width: 200px
    }
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__main--item .blog__img {
        width: 250px;
        overflow: hidden
    }
}
@media screen and (min-width: 1250px) {
    .blog__container .blog__main--item .blog__img {
        width: 300px
    }
}
.blog__container .blog__main--item .blog__info {
    width: calc(100% - 150px);
    padding-left: 10px
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__main--item .blog__info {
        padding-left: 20px
    }
}
.blog__container .blog__main--item .blog__info--title {
    font-size: .9rem;
    line-height: 1.2rem;
    color: #1f1e1e
}
@media screen and (min-width: 600px) {
    .blog__container .blog__main--item .blog__info--title {
        font-size: 1.1rem;
        line-height: 1.3rem
    }
}
.blog__container .blog__main--item .blog__info--title a {
    color: #1f1e1e;
    font-weight: 500
}
.blog__container .blog__main--item .blog__info time {
    font-size: .8rem;
    margin-top: .6rem;
    display: block;
    font-weight: 400;
    color: #878282
}
.blog__container .blog__main--item .blog__info--description {
    color: #1f1e1e;
    display: none
}
@media screen and (min-width: 600px) {
    .blog__container .blog__main--item .blog__info--description {
        display: block
    }
}
.blog__container .blog__main--item .blog__info--dates {
    margin-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.blog__container .blog__main--item .blog__info--dates img {
    --medidas: 30px;
    width: var(--medidas);
    height: var(--medidas);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: .5rem
}
.blog__container .blog__main--item .blog__info--dates p {
    color: #1f1e1e;
    font-size: .8rem
}
.blog__container .blog__aside {
    color: var(--text-light)
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__aside {
        -ms-grid-column: 7;
        -ms-grid-column-span: 2;
        grid-column: 7 / 9
    }
}
.blog__container .blog__aside--container {
    --columns: 1;
    --gap: 20px;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    background-color: var(--first-color)
}
.blog__container .blog__aside--container .aside__header h4 {
    font-size: 1.4rem;
    line-height: 1.7rem
}
@media screen and (min-width: 768px) {
    .blog__container .blog__aside--container .aside__header h4 {
        font-size: 1.2rem
    }
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__aside--container .aside__header h4 {
        font-size: 1.4rem
    }
}
.blog__container .blog__aside--container .aside__form {
    --columns: 1;
    --gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 1024px) {
    .blog__container .blog__aside--container .aside__form {
        --gap: 15px
    }
}
.blog__container .blog__aside--container .aside__form input,
.blog__container .blog__aside--container .aside__form select,
.blog__container .blog__aside--container .aside__form textarea {
    width: 100%;
    font-size: .8rem;
    color: var(--text-dark)
}
.blog__container .blog__aside--container .aside__form input::-webkit-input-placeholder,
.blog__container .blog__aside--container .aside__form textarea::-webkit-input-placeholder {
    color: var(--text-dark)
}
.blog__container .blog__aside--container .aside__form input:-ms-input-placeholder,
.blog__container .blog__aside--container .aside__form textarea:-ms-input-placeholder {
    color: var(--text-dark)
}
.blog__container .blog__aside--container .aside__form input::-ms-input-placeholder,
.blog__container .blog__aside--container .aside__form textarea::-ms-input-placeholder {
    color: var(--text-dark)
}
.blog__container .blog__aside--container .aside__form input::placeholder,
.blog__container .blog__aside--container .aside__form textarea::placeholder {
    color: var(--text-dark)
}
.blog__container .blog__aside--container .aside__form select {
    border-radius: 0;
    background-color: var(--bg-light);
    color: var(--text-dark)
}
.blog__container .blog__aside--container .aside__form--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.blog__container .blog__aside--container .aside__form--button a {
    color: var(--text-light);
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: var(--first-color)
}
.blog-new {
    padding-top: 7rem;
    padding-bottom: 3rem
}
.blog-new .new__header {
    color: #1f1e1e
}
@media screen and (min-width: 1024px) {
    .blog-new .new__header .new__title {
        font-size: 2.5rem;
        line-height: 2.8rem
    }
}
@media screen and (min-width: 1250px) {
    .blog-new .new__header .new__title {
        font-size: 2.8rem;
        line-height: 3.2rem
    }
}
.blog-new .new__header time {
    font-size: .9rem;
    display: block;
    font-weight: 400;
    margin-top: .5rem;
    color: #464444
}
@media screen and (min-width: 1024px) {
    .blog-new .new__header .new__bajada {
        font-size: 1.1rem;
        line-height: 1.7rem
    }
}
.blog-new .new__header .new__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .5rem
}
.blog-new .new__header .new__buttons .button__social {
    margin-right: .5rem
}
.blog-new .new__header .new__buttons time {
    margin-left: .5rem;
    font-size: .9rem;
    display: block;
    font-weight: 400;
    color: #8d8c8c
}
.blog-new .new__main {
    color: #1f1e1e
}
.blog-new .new__main img {
    max-height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}
@media screen and (min-width: 768px) {
    .blog-new .new__main img {
        max-height: 400px
    }
}
@media screen and (min-width: 1024px) {
    .blog-new .new__main img {
        max-height: 450px
    }
}
.blog-new .new__main img.img-post {
    margin-top: .8rem
}
.blog-new .new__main .new__list {
    margin-top: .8rem;
    color: #1f1e1e
}
.blog-new .new__main .new__list--item {
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.blog-new .new__main .new__list--item:before {
    --dimensions: 7px;
    content: '';
    width: var(--dimensions);
    height: var(--dimensions);
    margin-right: .7rem;
    border-radius: 50%;
    display: block;
    background-color: #d66332
}
@media screen and (min-width: 1024px) {
    .blog-new .new__main .new__list--item {
        font-size: 1rem;
        font-family: "Roboto", sans-serif
    }
}
.blog-new .new__main .new__gallery {
    --columns: 2;
    --gap: 10px;
    margin-top: .8rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 768px) {
    .blog-new .new__main .new__gallery {
        --columns: 3
    }
}
@media screen and (min-width: 1024px) {
    .blog-new .new__main .new__gallery {
        --gap: 15px
    }
}
.blog-new .new__main .new__gallery a {
    display: inline-block;
    overflow: hidden;
    height: 130px
}
@media screen and (min-width: 480px) {
    .blog-new .new__main .new__gallery a {
        height: 170px
    }
}
@media screen and (min-width: 1024px) {
    .blog-new .new__main .new__gallery a {
        height: 200px
    }
    .blog-new .new__main .new__gallery a:hover img {
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
}
.blog-new .new__main .new__gallery a img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.contact__banner {
    padding-top: 130px;
    padding-bottom: var(--paddingY);
    min-height: 100vh;
    overflow: hidden
}
@media screen and (min-width: 768px) {
    .contact__banner {
        height: 100vh;
        padding-top: 86px;
        padding-bottom: 0
    }
}
@media screen and (min-width: 1024px) {
    .contact__banner {
        padding-top: 92px
    }
}
@media screen and (min-width: 1250px) {
    .contact__banner {
        padding-top: 104px
    }
}
.contact__banner--container {
    --columns: 1;
    --gap: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap)
}
@media screen and (min-width: 768px) {
    .contact__banner--container {
        --columns: 12;
        height: 100%
    }
}
@media screen and (min-width: 768px) {
    .contact__banner--container .contact__header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1 / 7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}
@media screen and (min-width: 1024px) {
    .contact__banner--container .contact__header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1 / 6
    }
}
.contact__banner--container .contact__header--container .container__header {
    --margin: auto;
    max-width: 400px;
    color: #1f1e1e;
    margin-left: var(--margin);
    margin-right: var(--margin)
}
@media screen and (min-width: 480px) {
    .contact__banner--container .contact__header--container .container__header {
        text-align: center
    }
}
@media screen and (min-width: 768px) {
    .contact__banner--container .contact__header--container .container__header {
        margin-left: initial;
        text-align: left
    }
}
.contact__banner--container .contact__header--container .container__form {
    --columns: 1;
    --gap: 20px;
    --margin: auto;
    margin-top: 2.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[var(--columns)];
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    max-width: 400px;
    margin-left: var(--margin);
    margin-right: var(--margin)
}
@media screen and (min-width: 768px) {
    .contact__banner--container .contact__header--container .container__form {
        margin-left: initial;
        margin-top: 2rem
    }
}
.contact__banner--container .contact__header--container .container__form input,
.contact__banner--container .contact__header--container .container__form select,
.contact__banner--container .contact__header--container .container__form textarea {
    border-bottom: 1px solid #1f1e1e;
    font-size: .9rem
}
.contact__banner--container .contact__header--container .container__form input::-webkit-input-placeholder {
    color: #1f1e1e
}
.contact__banner--container .contact__header--container .container__form input:-ms-input-placeholder {
    color: #1f1e1e
}
.contact__banner--container .contact__header--container .container__form input::-ms-input-placeholder {
    color: #1f1e1e
}
.contact__banner--container .contact__header--container .container__form input::placeholder {
    color: #1f1e1e
}
.contact__banner--container .contact__header--container .container__form select {
    border-radius: 0;
    color: #1f1e1e;
    background-color: transparent
}
@media screen and (min-width: 1024px) {
    .contact__banner--container .contact__header--container .container__form select {
        margin-top: .5rem
    }
}
.contact__banner--container .contact__header--container .container__form textarea {
    padding-bottom: 0
}
@media screen and (min-width: 768px) {
    .contact__banner--container .contact__header--container .container__form textarea {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3
    }
}
.contact__banner--container .contact__header--container .container__form .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
@media screen and (min-width: 768px) {
    .contact__banner--container .contact__header--container .container__form .button {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}
.contact__banner--container .contact__header--container .container__form .button a {
    color: #fff;
    padding: .8rem 2rem;
    display: inline-block;
    margin-top: .8rem;
    -webkit-box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    box-shadow: 0 0 10px 1px rgba(31, 30, 30, 0.3);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: #ffbe00;
    margin-top: 0
}
.contact__banner--container .contact__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
    height: 250px;
    background-image: url(../../public/img/contact/bg-img.jpg)
}
@media screen and (min-width: 768px) {
    .contact__banner--container .contact__img {
        display: block;
        height: 100%;
        -ms-grid-column: 7;
        -ms-grid-column-span: 6;
        grid-column: 7 / 13
    }
}
@media screen and (min-width: 1024px) {
    .contact__banner--container .contact__img {
        -ms-grid-column: 6;
        -ms-grid-column-span: 7;
        grid-column: 6 / 13
    }
}