.contact#contact
    .contact__container.container
        h2.contact__container--title.secondary-title Contáctanos
        form.contact__container--form
            input(type='text' name='nombre' placeholder='Nombre y Apellido')
            input(type='email' name='empresa' placeholder='Correo')
            input(type='text' name='telefono' placeholder='Teléfono')
            select#categoria
                option(value='1') Elige tu plan
                option(value='2') Plan 1
                option(value='3') Plan 2
                option(value='4') Plan 3
                option(value='5') Plan 4
                option(value='6') Plan 5
            textarea(placeholder= 'No dudes en consultarnos alguna duda...')
            .button
                a(href="#").hover-btn Envíar
    .contact__map
        iframe(class="container" title='Ubicación de nuestras oficinas' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62414.533557629016!2d-77.04783137597549!3d-12.118423266052218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5f77bed35255016e!2sOFICINA+ZTE!5e0!3m2!1ses-419!2spe!4v1560978386391!5m2!1ses-419!2spe")