footer
    .footer__contenedor.container
        .footer__contenedor--informacion
            a(href="#inicio" class="logotipo")
                img(src="public/img/logotipo-negativo.svg", alt="Logotipo")
            ul.informacion__lista
                li.informacion__lista--item: a(href="index.html") Inicio
                li.informacion__lista--item: a(href="about.html") Nosotros
                li.informacion__lista--item: a(href="prices.html") Planes
                li.informacion__lista--item: a(href="ambients.html") Ambientes
                li.informacion__lista--item: a(href="blog.html") Blog
                li.informacion__lista--item: a(href="contact.html") Contacto
                li.informacion__lista--item: a(href="#" target="_blank").socicon-facebook
                li.informacion__lista--item: a(href="#" taget="_blank").socicon-youtube
        .footer__contenedor--informacion
            p.informacion__copy.description Copyright © Todos los Derechos Reservados
            p.informacion__desarrollo.description Desarrollado por :
                a(href="https://chilcanoweb.com/" targe='_blank' rel='nofollow noopener') Chilcanoweb
