header
    .header__contenedor.container
        h1.header__contenedor--logotipo
            a(href="index.html") Logo
        .header__contenedor--icono#icon
            .icon-element
            .icon-element
            .icon-element
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="index.html" class="item__link") Inicio
                li.nav__lista--item: a(href="about.html" class="item__link") Nosotros
                li.nav__lista--item: a(href="prices.html" class="item__link") Planes
                li.nav__lista--item: a(href="ambients.html" class="item__link") Ambientes
                li.nav__lista--item: a(href="blog.html" class="item__link") Blog
                li.nav__lista--item: a(href="contact.html" class="item__link") Contacto