aside.blog__aside 
    .blog__aside--container
        .aside__header
            h4 Contáctanos
            //p.description Obten los beneficios de nuestro coworking
        form.aside__form
            input(type='text' name='nombre' placeholder='Nombre y Apellido')
            input(type='email' name='correo' placeholder='Correo')
            input(type='text' name='celular' placeholder='Teléfono')
            select#categoria
                            option(value='1') Elige tu plan
                            option(value='2') Plan 1
                            option(value='3') Plan 2
                            option(value='4') Plan 3
                            option(value='5') Plan 4
                            option(value='6') Plan 5
            textarea(name='mensaje' placeholder= 'No dudes en consultarnos alguna duda...')
            .aside__form--button
                a(href='#').hover-btn Reservar