mixin blog(hrefimg,src,alt,hrefTitle,title,time,description, srcAutor, altAutor, nameAutor)
    .blog__main--item
        a(href= hrefimg).blog__img
            img(src=src , alt=alt)
        .blog__info
            h2.blog__info--title
                a(href= hrefTitle)= title
            time(datetime="2008-02-14 20:00")= time
            p.blog__info--description.description= description
            .blog__info--dates
                img(src= srcAutor, alt= altAutor)
                p.autor= nameAutor


