extends ../config/template
append config
    - NombSitio = "Nosotros"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .about__banner
        .about__banner--container.container
            .about__header
                h2.about__header--title.secondary-title Brindamos servicios flexibles y escalables
                .about__header--franja
                    p.description Nuestros ambientes de trabajo están hechos a tu medida.
                .about__header--img.wow.fadeInUp
                    img(src="public/img/about/banner/img-2.jpg" alt="img")
            .about__img
                .about__img--container.img-1.wow.fadeInUp.delay-1
                    img(src="public/img/about/banner/img-1.jpg" alt="img")
                .about__img--container.img-2.wow.fadeInUp.delay-2
                    img(src="public/img/about/banner/img-3.jpg" alt="img")
    // M A I N
    // ------------
    main.main__about
        // -----------
        // -----------
        .main__about--reason
            .main__container.container
                .main__container--header
                    h2.secondary-title Tu espacio integral
                    p.description Puedes trabajar o reunirte con tus clientes en un solo lugar.
                .main__container--img.wow.fadeInUp
                    a(data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").fas.fa-play
        .main__about--call
           .main__call--container.container
               h2.secondary-title Te ofrecemos los mejores espacios
               .button
                    a(href="contact.html").hover-btn Contáctanos
