extends ../config/template
append config
    - NombSitio = "Ambientes"
prepend styles
block contenido

    // B A N N E R
    // -----------
    .ambients__banner
        .ambients__banner--container.container
            .ambients__left.wow.fadeInLeft
                .ambients__left--container
            .ambients__header
                h2.ambients__header--title.secondary-title Lorem ipsum dolor met modi.
                .ambients__header--franja
                    p.description Adipisicing elit. A beatae debitis illo rem, repellendus similique voluptates! Aperiam sint sit voluptatibus!
                    .franja__button
                        a(href="#ambients").hover-btn Nuestro ambientes
            .ambients__right.wow.fadeInRight.delay-1

    // MAIN
    // -----------
    main.main.main__ambients
        // -----------
        // -----------
        .ambients#ambients
            .ambients__container.container
                .ambients__container--header
                    h2.secondary-title Oficinas Individuales
                    p.description Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.
                .ambients__container--grid
                    .ambients__img.wow.fadeInUp.delay-1
                        img(src="public/img/ambients/area-1/img-1.jpg" alt="Oficinas Individuales")
                    .ambients__img.wow.fadeInUp
                        img(src="public/img/ambients/area-1/img-2.jpg" alt="Oficinas Individuales")


                .ambients__container--header
                    h2.secondary-title Sala de Capacitaciones
                    p.description Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.
                .ambients__container--grid.ambients__alt
                    .ambients__img.wow.fadeInUp
                        img(src="public/img/ambients/area-2/img-1.jpg" alt="Sala de Capacitaciones")
                    .ambients__img.wow.fadeInUp.delay-1
                        img(src="public/img/ambients/area-2/img-2.jpg" alt="Sala de Capacitaciones")


                .ambients__container--header
                    h2.secondary-title Áreas sociales
                    p.description Dolor sit amet, consectetur adipisicing elit. Aliquid enim laboriosam nostrum numquam sapiente! Eaque.
                .ambients__container--grid
                    .ambients__img.wow.fadeInUp.delay-1
                        img(src="public/img/ambients/area-3/img-1.jpg" alt="Áreas sociales")
                    .ambients__img.wow.fadeInUp
                        img(src="public/img/ambients/area-3/img-2.jpg" alt="Áreas sociales")
