extends ../config/template
append config
    - NombSitio = "Blog"
prepend styles
block contenido

    // B L O G 
    // ------------
    .blog.blog-new
        .blog__container.container
            main.blog__main 
                .new__header
                    h2.secondary-title.new__title Dolor sit amet consectetur adipisicing elit. Dicta eius facere
                    time(datetime="2008-02-14 20:00") 14 Mayo 2019
                    p.new__bajada.description Dolor sit amet consectetur adipisicing elit. Voluptate iste tempore optio quibusdam labore quod ducimus voluptatibus architecto recusandae animi!
                .new__main
                    .new__main--info
                        img(src="public/img/blog/post-2/post-2.jpg", alt="Post 2")
                        p.description.blog__description Dolor sit amet, consectetur adipisicing elit. Rem illum quaerat error dolorum, ipsam ipsa accusamus et veniam ea minima. Dolores ex voluptates, soluta perspiciatis hic asperiores ea autem expedita dignissimos, non, aliquid alias possimus accusamus iure maxime quaerat voluptatem ad. Iste minima et optio officiis quidem veritatis, totam tempora soluta quaerat necessitatibus ipsa neque aut odio tenetur amet id aliquam. 
                        p.description.blog__description Porro cum vel expedita repellat illo reprehenderit libero aperiam ullam deleniti exercitationem delectus, maxime sunt dicta minima eveniet mollitia perspiciatis! Corrupti error harum, vitae sequi illo, eum dolore itaque fugit ab quasi vero id, quisquam exercitationem at. Fugit, harum.
                        ul.new__list
                            li.new__list--item Lorem, ipsum dolor
                            li.new__list--item Dolor sit amet
                            li.new__list--item Consectetur adipisicing
                            li.new__list--item Porro cum vel
                        p.description.blog__description Rem illum quaerat error dolorum, ipsam ipsa accusamus et veniam ea minima. Dolores ex voluptates, soluta perspiciatis hic asperiores ea autem expedita dignissimos, non, aliquid alias possimus accusamus iure maxime quaerat voluptatem ad. Iste minima et optio officiis quidem veritatis, totam tempora soluta quaerat necessitatibus ipsa neque aut odio tenetur amet id aliquam. Porro cum vel expedita repellat illo reprehenderit libero aperiam ullam deleniti exercitationem delectus, maxime sunt dicta minima eveniet mollitia perspiciatis! Corrupti error harum, vitae sequi illo, eum dolore itaque.
                        .new__gallery
                            a(href="public/img/blog/post-2/img-1.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-2/img-1.jpg", alt="")
                            a(href="public/img/blog/post-2/img-2.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-2/img-2.jpg", alt="")
                            a(href="public/img/blog/post-2/img-3.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-2/img-3.jpg", alt="")
                            a(href="public/img/blog/post-2/img-4.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-2/img-4.jpg", alt="")
                            a(href="public/img/blog/post-2/img-5.jpg" data-fancybox='images')
                                img(src="public/img/blog/post-2/img-5.jpg", alt="")
            include ../components/aside-form
