extends ../config/template
append config
    - NombSitio = "Blog"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .blog__banner
        .blog__banner--container.container
            .blog__header
                h2.blog__header--title.secondary-title Blog
                .blog__header--franja
                    p.description Adipisicing elit. A beatae debitis illo rem, repellendus similique voluptates! Aperiam sint sit voluptatibus!
    
    // B L O G 
    // ------------
    .blog.paddingY
        .blog__container.container
            main.blog__main
                +blog(
                    'blog-1.html',
                    'public/img/blog/post-1/post-1-mini.jpg',
                    'Post 1',
                    'blog-1.html',
                    'Esto es un simple texto de prueba, el cual es siempre recomendado.',
                    '28 Agosto 2019',
                    'Sit amet consectetur adipisicing elit. Magnam perferendis sunt asperiores quibusdam labore quod ducimus voluptatibus.',
                    'public/img/blog/authors/autor-post-1.jpg',
                    'Autor 1',
                    'Pedro Gómez'
                )
                +blog(
                    'blog-2.html',
                    'public/img/blog/post-2/post-2-mini.jpg',
                    'Post 2',
                    'blog-2.html',
                    'Dolor sit amet consectetur adipisicing elit. Dicta eius facere',
                    '28 Agosto 2019',
                    'Dolor sit amet consectetur adipisicing elit. Voluptate iste tempore optio quibusdam labore quod ducimus voluptatibus architecto recusandae animi!',
                    'public/img/blog/authors/autor-post-2.jpg',
                    'Autor 2',
                    'Dane Rivera'
                )
                +blog(
                    'blog-3.html',
                    'public/img/blog/post-3/post-3-mini.jpg',
                    'Post 3',
                    'blog-3.html',
                    'No olvides el uso de Lorem Ipsum en tu día a día',
                    '27 Agosto 2019',
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perferendis sunt asperiores.',
                    'public/img/blog/authors/autor-post-3.jpg',
                    'Autor 3',
                    'Peter Stark'
                )
                +blog(
                    'blog-4.html',
                    'public/img/blog/post-4/post-4-mini.jpg',
                    'Post 3',
                    'blog-4.html',
                    'Sit amet consectetur adipisicing elit. Facere omnis maiores',
                    '26 Agosto 2019',
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perferendis sunt asperiores.',
                    'public/img/blog/authors/autor-post-4.jpg',
                    'Autor 3',
                    'Jaime Bizcarra'
                ) 
                +blog(
                    'blog-5.html',
                    'public/img/blog/post-5/post-5-mini.jpg',
                    'Post 3',
                    'blog-5.html',
                    'Amet consectetur adipisicing elit. Quam magni eius obcaecati',
                    '26 Agosto 2019',
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perferendis sunt asperiores.',
                    'public/img/blog/authors/autor-post-5.jpg',
                    'Autor 3',
                    'Leana Bold'
                ) 
            include ../components/aside-form

