extends ../config/template
append config
    - NombSitio = "Contacto"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .contact__banner
        .contact__banner--container.container
           .contact__header
                .contact__header--container
                    .container__header
                        h2.secondary-title Lorem ipsum dolor sit amet.
                        p.description Dolor sit amet, consectetur adipisicing elit. Assumenda ipsam itaque quaerat quod sequi.
                    form.container__form
                        input(type='text' name='nombre' placeholder='Nombre y Apellido')
                        input(type='email' name='empresa' placeholder='Correo')
                        input(type='text' name='telefono' placeholder='Teléfono')
                        select#categoria
                            option(value='1') Elige tu plan
                            option(value='2') Plan 1
                            option(value='3') Plan 2
                            option(value='4') Plan 3
                            option(value='5') Plan 4
                            option(value='6') Plan 5
                        textarea(placeholder= 'No dudes en consultarnos alguna duda...')
                        .button
                            a(href="#").hover-btn Envíar
           .contact__img.wow.fadeInRight