extends ../config/template
append config
    - NombSitio = "Inicio"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .banner
        .banner__container.container
            .banner__container--copy
                h2.banner__title Tú empresa, tú espacio
                // Trabaja cómodo y  contento.
                // Cada lugar está pensando en tí.
                .banner__button
                    a(href="#about").hover-btn Más información
        ul.banner__extras
            li.banner__extras--item
                a(href="#space")
                    img(src="public/img/home/banner/space-1.jpg" alt="Oficinas Individuales")
                    .space
                        span Oficinas Individuales
            li.banner__extras--item
                a(href="#space")
                    img(src="public/img/home/banner/space-2.jpg" alt="Sala de Capacitaciones")
                    .space
                        span Sala de Capacitaciones
            li.banner__extras--item
                a(href="ambients.html")
                    img(src="public/img/home/banner/space-3.jpg" alt="Áreas sociales")
                    .space
                        span
                            i.fas.fa-times
                            | Más Espacios

    // M A I N
    main.main

        // A B O U T
        // ------------
        .about#about
            .about__container.container
                img(src="public/img/home/about/img-1.jpg" alt="Oficina Smart").about__container--img.wow.fadeInUp
                .about__container--info
                    .about__header
                        h2.about__header--title.secondary-title Encuentra tu espacio y cierra tus proyectos.
                        .about__header--franja
                            p.franja__description.description Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar, nuestros servicios están orientados a emprendedores y empresas que busquen una ventaja competitiva a través del respaldo de los profesionales y los beneficios que ofrece SMART OFFICE PERÚ.
                            .franja__button
                                a(href="ambients.html").hover-btn Nuestros Espacios
                    img(src="public/img/home/about/img-2.jpg" alt="Oficina Smart").about__img.wow.fadeInUp.delay-1

        // C H A R A C T E R I S T I C S
        // ------------
        .characteristics
            .characteristics__container.container
                h2.characteristics__container--title.secondary-title Los mejores en...
                .characteristics__container--grid
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-1.png" alt="Ubicación Céntrica")
                        p.description Ubicación centríca
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-2.png" alt="Múltiples Ambientes")
                        p.description Múltiples Ambientes
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-3.png" alt="Excelentes Precios")
                        p.description Excelentes Precios
                    .characteristics__item
                        img(src="public/img/home/characteristics/img-4.png" alt="Horarios Flexibles")
                        p.description Horarios Flexibles

        // S P A C E S
        // ------------
        .spaces#space
           .spaces__container.container
               .spaces__container--header
                   h2.spaces__title.secondary-title Espacios que generan grandes ideas
           .spaces__grid.container
                .spaces__item
                    img(src="public/img/home/spaces/space-1.jpg" alt="Oficinas Individuales")
                    .spaces__item--info
                       .info
                           h3 Oficinas Individuales
                           p.description Elige el espacio que mejor te acomode.
                           .spaces__button
                                a(href="ambients.html").hover-btn Ver más
                .spaces__item
                   img(src="public/img/home/spaces/space-2.jpg" alt="Sala de Capacitaciones")
                   .spaces__item--info
                       .info
                           h3 Sala de Capacitaciones
                           p.description Espacios para compartir conocimientos y experiencias.
                           .spaces__button
                                a(href="ambients.html").hover-btn Ver más
                .spaces__item
                   img(src="public/img/home/spaces/space-3.jpg" alt="Áreas sociales")
                   .spaces__item--info
                       .info
                           h3 Áreas sociales
                           p.description Disfruta de ambientes lúdicos y áreas sociales.
                           .spaces__button
                                a(href="ambients.html").hover-btn Ver más

        // R E A S O N
        // ------------
        .reason
            p.reason__copy Smart
            .reason__container.container
                .reason__container--info
                    .reason__header
                        h2.reason__header--title.secondary-title Tu espacio integral para hacer negocios
                        .reason__header--franja
                            p.franja__description.description Nuestra oficina está ubicada en pleno corazón del Centro Financiero de San Isidro (Al frente de la Estación Canaval y Moreyra), punto estratégico para celebrar cualquier tipo de reunión o evento.
                            .franja__button
                                a(href="#").hover-btn Contáctanos
                img(src="public/img/home/reason/bg-img.jpg" alt="Edificio donde nos ubicamos").reason__container--img

        // A C T I O N
        // ------------
        .action
            .action__container.container
                .action__container--header
                    h2.action__title.secondary-title Cada lugar está pensado para tí.
                .action__container--play
                    a(data-fancybox="" aria-label='Vídeo' href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").fas.fa-play

        // C O N T A C T
        // ------------
        include ../includes/contact


prepend script-final
    script(src="public/js/superslides.js")


