extends ../config/template
append config
    - NombSitio = "Planes"
prepend styles
block contenido

    // B A N N E R
    // ------------
    .prices__banner
        .prices__banner--container.container
            .prices__header
                h2.prices__header--title.secondary-title Somos tu mejor socio estratégico
                .prices__header--franja
                    p.description Apoyamos el crecimiento de los empremdedores positivos, por ello te brindamos diferentes planes para tu negocio.
                    .franja__button
                        a(href="#prices").hover-btn Nuestros planes
            .prices__images
                .prices__images--container.prices__images--left

                .prices__images--container.prices__images--right

    // P R I C E S
    //--------------
    main.main.main__prices
        // -----------
        // -----------
        .prices#prices
            .prices__container.container
                .prices__container--header
                    h2.secondary-title Plan a tu medida
                .prices__container--item.wow.fadeInUp
                    p.prices__title Plan 1
                    p.prices__cost desde
                        span $87
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-1
                    p.prices__title Plan 2
                    p.prices__cost desde
                        span $153
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion1.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                .prices__container--item.wow.fadeInUp.delay-2
                    p.prices__title Plan 3
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion2.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                .prices__container--item.wow.fadeInUp.delay-3
                    p.prices__title Plan 4
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion3.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                .prices__container--item.wow.fadeInUp.delay-4
                    p.prices__title Plan 5
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact").gradient-hover.hover-btn Adquirir ahora
                    ul#accordion4.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li
                                    i.check.fas.fa-check
                                    | Amet is check
        // P L U S
        // -------------
        .characteristics
            .characteristics__container.container
                h2.characteristics__container--title.secondary-title También te ofrecemos
                .characteristics__container--grid
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-1.png" alt="Wifi libre")
                        p.description Wifi
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-3.png" alt="Seguridad")
                        p.description Seguridad
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-4.png" alt="Café ilimitado")
                        p.description Áreas para compartir
                    .characteristics__item
                        img(src="public/img/prices/characteristics/img-2.png" alt="Horarios Flexibles")
                        p.description Café ilimitado
        // C O N T A C T
        // ------------
        include ../includes/contact


