block config
    include config
    include ../components/blog-new
doctype
html(lang="es")
    head
        title= `${NombPagina} | ${NombSitio}`
        //--- META
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="robotos" content="index,follow")
        meta(property="fb:app_id" content="")
        meta(name="description" content="Somos pioneros en integrar todos los servicios y la solución de espacios de trabajo en un solo lugar")
        meta(name="keywords" content="Coworking, oficinas, espacios, smart, múltiples ambientes, sala de capacitaciones, espacios  creativos")
        link(rel="icon" href="public/img/icon.png" sizes="96x96")
        //--- ESTILOS EXTERNOS
        //-- WOW CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
        //-- FONT AWESOME CSS
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
        //-- SOCICON CSS
        link(rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d")
        //--- TIPOGRFIA
        link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900', rel='stylesheet')
        //-- FANCYBOX
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css')
        //--- ESTILOS INTERNOS
        link(rel="stylesheet" href="public/css/styles.css?update32")
        block styles
    body
        include ../includes/header
        block contenido
        include ../includes/footer
        block script-inicio
        //-- SCRIPT JQUERY
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        //-- FANCYBOX
        script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
        //--WOW
        script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
        script.
            new WOW().init();
        //-- MAIN
        script(src="public/js/main-min.js")
        block script-final

